In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
data = pd.read_csv('tweets1.csv')
data

,id,created_at,text
0,849636868052275200,2017-04-05 14:56:29,b'And so the robots spared humanity ... https:...
1,848988730585096192,2017-04-03 20:01:01,"b""@ForIn2020 @waltmossberg @mims @defcon_5 Exa..."
2,848943072423497728,2017-04-03 16:59:35,"b'@waltmossberg @mims @defcon_5 Et tu, Walt?'"
3,848935705057280001,2017-04-03 16:30:19,b'Stormy weather in Shortville ...'
4,848416049573658624,2017-04-02 06:05:23,"b""@DaveLeeBBC @verge Coal is dying due to nat ..."
...,...,...,...
2814,142881284019060736,2011-12-03 08:22:07,b'That was a total non sequitur btw'
2815,142880871391838208,2011-12-03 08:20:28,"b'Great Voltaire quote, arguably better than T..."
2816,142188458125963264,2011-12-01 10:29:04,b'I made the volume on the Model S http://t.co...
2817,142179928203460608,2011-12-01 09:55:11,"b""Went to Iceland on Sat to ride bumper cars o..."
2818,15434727182,2010-06-04 18:31:57,"b'Please ignore prior tweets, as that was some..."

In [3]:
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)
    return input_txt
print(data)

                      id           created_at  \
0     849636868052275200  2017-04-05 14:56:29
1     848988730585096192  2017-04-03 20:01:01
2     848943072423497728  2017-04-03 16:59:35
3     848935705057280001  2017-04-03 16:30:19
4     848416049573658624  2017-04-02 06:05:23
...                  ...                  ...
2814  142881284019060736  2011-12-03 08:22:07
2815  142880871391838208  2011-12-03 08:20:28
2816  142188458125963264  2011-12-01 10:29:04
2817  142179928203460608  2011-12-01 09:55:11
2818         15434727182  2010-06-04 18:31:57

                                                   text
0     b'And so the robots spared humanity ... https:...
1     b"@ForIn2020 @waltmossberg @mims @defcon_5 Exa...
2         b'@waltmossberg @mims @defcon_5 Et tu, Walt?'
3                   b'Stormy weather in Shortville ...'
4     b"@DaveLeeBBC @verge Coal is dying due to nat ...
...                                                 ...
2814               b'That was a total non sequitur btw'
2815  b'Great Voltaire quote, arguably better than T...
2816  b'I made the volume on the Model S http://t.co...
2817  b"Went to Iceland on Sat to ride bumper cars o...
2818  b'Please ignore prior tweets, as that was some...

[2819 rows x 3 columns]

In [4]:
data['new'] = np.vectorize(remove_pattern)(data['text'], "@[\w]*")
print(data)

                      id           created_at  \
0     849636868052275200  2017-04-05 14:56:29
1     848988730585096192  2017-04-03 20:01:01
2     848943072423497728  2017-04-03 16:59:35
3     848935705057280001  2017-04-03 16:30:19
4     848416049573658624  2017-04-02 06:05:23
...                  ...                  ...
2814  142881284019060736  2011-12-03 08:22:07
2815  142880871391838208  2011-12-03 08:20:28
2816  142188458125963264  2011-12-01 10:29:04
2817  142179928203460608  2011-12-01 09:55:11
2818         15434727182  2010-06-04 18:31:57

                                                   text  \
0     b'And so the robots spared humanity ... https:...
1     b"@ForIn2020 @waltmossberg @mims @defcon_5 Exa...
2         b'@waltmossberg @mims @defcon_5 Et tu, Walt?'
3                   b'Stormy weather in Shortville ...'
4     b"@DaveLeeBBC @verge Coal is dying due to nat ...
...                                                 ...
2814               b'That was a total non sequitur btw'
2815  b'Great Voltaire quote, arguably better than T...
2816  b'I made the volume on the Model S http://t.co...
2817  b"Went to Iceland on Sat to ride bumper cars o...
2818  b'Please ignore prior tweets, as that was some...

                                                    new
0     b'And so the robots spared humanity ... https:...
1     b"    Exactly. Tesla is absurdly overvalued if...
2                                    b'   Et tu, Walt?'
3                   b'Stormy weather in Shortville ...'
4     b"  Coal is dying due to nat gas fracking. It'...
...                                                 ...
2814               b'That was a total non sequitur btw'
2815  b'Great Voltaire quote, arguably better than T...
2816  b'I made the volume on the Model S http://t.co...
2817  b"Went to Iceland on Sat to ride bumper cars o...
2818  b'Please ignore prior tweets, as that was some...

[2819 rows x 4 columns]

In [5]:
data['new'] = data['new'].str.replace("[^a-zA-Z#]", " ")
print(data)

C:\Users\dibya\AppData\Local\Temp\ipykernel_18708\431158603.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data['new'] = data['new'].str.replace("[^a-zA-Z#]", " ")

                      id           created_at  \
0     849636868052275200  2017-04-05 14:56:29
1     848988730585096192  2017-04-03 20:01:01
2     848943072423497728  2017-04-03 16:59:35
3     848935705057280001  2017-04-03 16:30:19
4     848416049573658624  2017-04-02 06:05:23
...                  ...                  ...
2814  142881284019060736  2011-12-03 08:22:07
2815  142880871391838208  2011-12-03 08:20:28
2816  142188458125963264  2011-12-01 10:29:04
2817  142179928203460608  2011-12-01 09:55:11
2818         15434727182  2010-06-04 18:31:57

                                                   text  \
0     b'And so the robots spared humanity ... https:...
1     b"@ForIn2020 @waltmossberg @mims @defcon_5 Exa...
2         b'@waltmossberg @mims @defcon_5 Et tu, Walt?'
3                   b'Stormy weather in Shortville ...'
4     b"@DaveLeeBBC @verge Coal is dying due to nat ...
...                                                 ...
2814               b'That was a total non sequitur btw'
2815  b'Great Voltaire quote, arguably better than T...
2816  b'I made the volume on the Model S http://t.co...
2817  b"Went to Iceland on Sat to ride bumper cars o...
2818  b'Please ignore prior tweets, as that was some...

                                                    new
0     b And so the robots spared humanity     https ...
1     b     Exactly  Tesla is absurdly overvalued if...
2                                    b    Et tu  Walt
3                   b Stormy weather in Shortville
4     b   Coal is dying due to nat gas fracking  It ...
...                                                 ...
2814               b That was a total non sequitur btw
2815  b Great Voltaire quote  arguably better than T...
2816  b I made the volume on the Model S http   t co...
2817  b Went to Iceland on Sat to ride bumper cars o...
2818  b Please ignore prior tweets  as that was some...

[2819 rows x 4 columns]

In [6]:
data['new'] = data['new'].apply(lambda x : ' '.join([w for w in x.split() if len(w) > 3]))
print(data)

                      id           created_at  \
0     849636868052275200  2017-04-05 14:56:29
1     848988730585096192  2017-04-03 20:01:01
2     848943072423497728  2017-04-03 16:59:35
3     848935705057280001  2017-04-03 16:30:19
4     848416049573658624  2017-04-02 06:05:23
...                  ...                  ...
2814  142881284019060736  2011-12-03 08:22:07
2815  142880871391838208  2011-12-03 08:20:28
2816  142188458125963264  2011-12-01 10:29:04
2817  142179928203460608  2011-12-01 09:55:11
2818         15434727182  2010-06-04 18:31:57

                                                   text  \
0     b'And so the robots spared humanity ... https:...
1     b"@ForIn2020 @waltmossberg @mims @defcon_5 Exa...
2         b'@waltmossberg @mims @defcon_5 Et tu, Walt?'
3                   b'Stormy weather in Shortville ...'
4     b"@DaveLeeBBC @verge Coal is dying due to nat ...
...                                                 ...
2814               b'That was a total non sequitur btw'
2815  b'Great Voltaire quote, arguably better than T...
2816  b'I made the volume on the Model S http://t.co...
2817  b"Went to Iceland on Sat to ride bumper cars o...
2818  b'Please ignore prior tweets, as that was some...

                                                    new
0                 robots spared humanity https JUJQWfCv
1     Exactly Tesla absurdly overvalued based past t...
2                                                  Walt
3                             Stormy weather Shortville
4                    Coal dying fracking basically dead
...                                                 ...
2814                                That total sequitur
2815  Great Voltaire quote arguably better than Twai...
2816  made volume Model http wMCnT just need work mi...
2817  Went Iceland ride bumper cars country Vlad rin...
2818  Please ignore prior tweets that someone preten...

[2819 rows x 4 columns]

In [7]:
tokenized_tweet = data['new'].apply(lambda x : x.split())
print(tokenized_tweet.head())

0          [robots, spared, humanity, https, JUJQWfCv]
1    [Exactly, Tesla, absurdly, overvalued, based, ...
2                                               [Walt]
3                        [Stormy, weather, Shortville]
4             [Coal, dying, fracking, basically, dead]
Name: new, dtype: object

In [10]:
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()
tokenized_tweet = tokenized_tweet.apply(lambda x : [stemmer.stem(i) for i in x])
print(tokenized_tweet.head())

0                [robot, spare, human, http, jujqwfcv]
1    [exactli, tesla, absurdli, overvalu, base, pas...
2                                               [walt]
3                          [stormi, weather, shortvil]
4                      [coal, die, frack, basic, dead]
Name: new, dtype: object